body{
    margin: 0px;
    height: 100%;
}
.image {
    position:absolute;
    width:1217px; 
    height:5900px;
    background-image:url('./fondo.svg');
    background-repeat: no-repeat;
    z-index:-1;
}
.content {
    position:absolute; 
    width:100%; 
    top:100%; 
    height: 100px;
}
/* @font-face{ 
    font-family: Ballon; 
    src:("https://fonts.google.com/share?selection.family=Baloo%202:wght@700%7CMontserrat:wght@400;600" );
} */
p{
    margin-bottom: 1.6em;
}
a{
    color:blue;
}
.main{
    padding-top: 1rem;
} 
.container{
    width:85%;
    max-width: 1050px;
} 
.presentation{
    padding-top: 3rem;
}
.header {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
 .header a{
     color: rgb(29, 43, 204);
     text-decoration: none;
 }
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    letter-spacing:8px;
    font-size: 2em;
}
.menu-icon{
    display: none;
}
.navigation{
    /* font-family: 'Baloo 2', cursive; */
    font-family: 'Montserrat', sans-serif;
    margin-left: 5rem;
    padding: 0;
    font-size: 1.5vw;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
 .navigation ul li{
     display: inline-block;
 }
 .navigation ul li a{
     display: block;
     padding: 0.5rem 0.5rem;
     transition: all 0.4s linear;
 }
 .navigation ul li a:hover {
   background: rgb(33, 4, 96);
 }
 .we-are{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-top: 100px;
    padding-left: 130px;   
 }
 .citizen-video{
    padding-top: 200px;
    padding-left: 200px; 
 }
 .footer{
   background:#2279d0;
   position: fixed;
   padding-left: 50px;
   left: 0;
   bottom: 0;
   width:100%;
   font-size: 15px; 
   color: white;
 }
     
 @media only screen and (max-width: 767px){
    .menu-icon{
        display:block;
        cursor:pointer;
        padding: 0.5 1rem;
    }
   .navigation{
       width:100%;
   } 
    .navigation ul{
       display: none;
    }
    .navigation ul.show{
        display: block;
    }
   .navigation ul li{
        display: block;
    }
    .navigation ul li a{
        display: block;
        padding: 0.3rem;
        transition: all 0.4s linear;
    }
    .navigation ul li a:hover {
      background: rgb(82, 41, 120);
    }
    .footer{
        padding: 0.3rem;
    }
}
